---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1>About</h1>
  <p>
    Jacobson Digital is a digital marketing agency that specializes in helping
    businesses grow online.
  </p>
  <p>
    We are a team of experienced professionals who are dedicated to providing
    the best possible service to our clients.
  </p>
  <p>
    We are a team of experienced professionals who are dedicated to providing
  </p>
</Layout>
