---
import Link from "./Link.astro";
---

<div class="">
  <nav class="flex h-10 items-center justify-center gap-4 text-black">
    <Link href="/">Home</Link>
    <Link href="/about">About</Link>
    <Link href="/contact">Contact</Link>
  </nav>
</div>
